@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  margin: 20px;
  height: 100%;
  text-align: center;
  color: #480355;
  place-items: center;
  background: #7699D4;
  max-width: 100%;
}
.range{
    height: 80px;
    width: 380px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
}
.range .sliderValue{
    position: relative;
    width: 100%;
}
.range .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    color: #fff;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%);
    line-height: 55px;
    z-index: 2;
}
.range .sliderValue span:after{
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: #664AFF;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.range .field .value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #664AFF
}
.range .field .value.left{
    left: -22px;
}
.range .field .value.right{
    right: -43px;
}
.range .field input{
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}
.range .field input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #664AFF;
    border-radius: 50%;
    border: 1px solid #664AFF;
    cursor: pointer;
}

.sbutton
{
  background-color: #480355;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px 14px;
  cursor: pointer;
}

.sbutton:hover
{
  background-color: #9448BC;
}

.dot {
  overflow: hidden;
  width: 500px;
  height: 500px;
  background-color: #9448BC;
  border-radius: 50%;
  position: fixed;
  top: -250px;
  left: -250px;
  box-shadow: 10px 10px #480355;
}

.dot1 {
  overflow: hidden;
  width: 500px;
  height: 500px;
  background-color: #9448BC;
  border-radius: 50%;
  position: fixed;
  bottom: -250px;
  right: -250px;
  box-shadow: 10px 10px #480355 inset;
}

input[type=text] {
  height: 30px;
  width: 300px;
  padding: 6px;
  margin 20px 0px 0px 50px;
  box-sizing: border-box;
}

input[type=password] {
  height: 30px;
  width: 300px;
  padding: 6px;
  margin 20px 0px 0px 50px;
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  width: 75px;
  height: 45px;
  background: #7699D4;
  border-color: #480355;
  border-width: 3px;
}

